# Configuration file

groundlevel {
    # Ground Level (1-255) [range: 1 ~ 255, default: 64]
    I:settings=64
}


settings {
    B:AlertEnabled=true
    B:AllowSetSpawnDaytime=true
    B:IncludeMiners=true
    S:OnMorningText=A new dawn. The ritual is complete.
    S:OnSleepText=has started the Sun Summoning Ritual.
    S:OnWakeText=has failed the ritual!
    I:SleeperPerc=25
}


